@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model DogwatchEpi.Models.ViewModels.IPageViewModel<DogwatchEpi.Models.Pages.DogPage>


<div id="content-body">
    <!-- Note the next line is for multiple image things which is not currently in the controller-->
    @Html.FullRefreshPropertiesMetaData()

    <p>dog page</p>
</div>