@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model DogwatchEpi.Models.Pages.StandardPage

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div id="content-body">
    <h1>test</h1>
    @Html.PropertyFor(m => m.MainBody)
</div>