@model DogwatchEpi.Models.Pages.StandardPage

<div class="footer">
    <link rel="stylesheet" type="text/css" href="~/Static/Footer.css" />

    <div id="footer-navigation">
        <ul>
            <li><a href="http://www.dogwatch.co.nz">Home</a></li>
            <li><a href="http://www.dogwatch.co.nz/about-us">About Dogwatch</a></li>
            <li><a href="http://www.dogwatch.nz/events-diary/upcoming-events">Upcoming Events</a></li>
            <li><a href="http://www.dogwatch.co.nz/contact-us">Contact Us</a></li>
        </ul>
    </div>
    <div id="footer-info">
        <p>© Dogwatch Sanctuary Trust - Registered Charitable Trust, registration number CC30434. </p>
    </div>

</div>